* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    min-width: 300px;
    max-width: 500px;
    padding: 40px;
    background-color: #f3f2f7;
}

.register-title {
    text-align: center;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.register-title:before, .register-title:after  {
    content: "";
    position: absolute;
    height: 2px;
    width: 29%;
    background-color: lightgrey;
    transform: translateY(-50%);
    top: 50%;
}

.register-title:before {
    left: 0;   
}

.register-title:after {
    right: 0;   
}

.register-description {
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
}

.form-submit-text {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%; 
}

.form-checkbox-text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;  
}

.form-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.form-first-name,
.form-last-name {
    padding: 5px;
    width: 45%;
}


.form-email,
.form-password,
.form-confirm-password,
.form-label-checkbox,
.form-submit {
    display: block;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
}

.form-label-checkbox {
    padding: none;
}

.form-submit {
    background-color: green;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    color:#fff;
    font-weight: bold;
}

